.BorderedImage {
  background-color: var(--color-whisper);
  border-radius: var(--size-5);
  border: var(--size-3) solid white;
  box-shadow: 10.0484px 10.0484px 20.0968px rgba(145, 98, 244, 0.1);
  display: table;

  aspect-ratio: 73 / 45;
}

.BorderedImage img {
  border-radius: var(--size-3);
}
