.TechnicalCompetencies {
  --page-section--color-background: transparent;
  --page-section--color-text: inherit;
  --page-section--color-title: var(--color-minsk);
  --page-section--align-title: center;

  color: var(--page-section--color-text);
  padding-left: var(--page--padding-x);
  padding-top: var(--size-13);
  padding-bottom: var(--size-16);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* 1008px */
@media screen and (min-width: 63rem) {
  .TechnicalCompetencies {
    max-width: var(--page--width-max);
    margin: 0 auto;
    padding-top: var(--size-24);
    padding-bottom: var(--size-24);
    overflow: inherit;
  }
}

.TechnicalCompetencies__inner {
  display: flex;
  flex-direction: column-reverse;
}

/* 992px */
@media screen and (min-width: 62rem) {
  .TechnicalCompetencies__inner {
    flex-direction: row;
    gap: var(--size-38);
    margin-inline: auto;
    max-width: var(--page--width-max);
  }
}

.TechnicalCompetencies__image {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.TechnicalCompetencies__img {
  display: flex;
  justify-content: flex-end;
}

.TechnicalCompetencies__content {
  flex: 1 1 50%;
  padding-right: var(--page--padding-x);
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .TechnicalCompetencies__content {
    padding-right: 0;
  }
}
