.Hero {
  --hero--padding-x: var(--page--padding-x);
  --hero--padding-y: var(--size-10);
  --hero--color-background: transparent;
  --hero--color-text: inherit;
  --hero--title--color-text: var(--color-minsk);

  background-color: var(--hero--color-background);
  color: var(--hero--color-text);
  text-align: center;
  width: 100%;

  /* For page backgrounds */
  position: relative;
  z-index: 10;
}

.Intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  justify-content: flex-start;
  min-height: 13.75rem;
  padding: var(--hero--padding-y) var(--hero--padding-x);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Intro {
    min-height: 18.75rem;
  }
}

.Intro__header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Intro__title {
  color: var(--hero--title--color-text);
  font-size: clamp(var(--size-9), var(--text--clamp-relative-size), var(--size-15));
  font-weight: var(--font-weight--medium);
  line-height: var(--text--line-height-sm);
  max-width: 25ch;
  text-transform: capitalize;
  position: relative;
  z-index: 10;
}

.Intro__content {
  margin-top: var(--size-5);
  max-width: 52.5rem;
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Intro__content {
    margin-top: var(--size-2);
  }
}

.Intro__content p {
  font-size: var(--text--p1--font-size);
  line-height: var(--text--p1--line-height);
}

.Intro__content p + p {
  margin-top: var(--size-8);
}

.Intro__footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  margin-top: var(--size-10);
}

.Hero--size-large .Intro {
  padding-bottom: var(--size-38);
}

.Hero--with-background {
  background-image: none !important;
}

.Hero--with-background .Hero__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Hero--inverted,
.Hero--inverted-squares {
  --hero--color-background: var(--color-port-gore);
  --hero--color-text: var(--color-whisper);
  --hero--title--color-text: white;

  background-image: url('/images/backgrounds/hero-inverted.png');
  background-position: bottom;
  background-size: cover;
}

.Hero--inverted-squares {
  background-image: url('/images/backgrounds/hero-solid-squares-small.svg');
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Hero--inverted-squares {
    background-image: url('/images/backgrounds/hero-solid-squares.svg');
  }
}

.Hero--letterboxed {
  /* 320px */
  min-height: 20rem;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Hero--letterboxed {
    min-height: var(--size-100);
  }
}
