.HomeInner {
  --hero--color-text: var(--color-link-water);
}

.HomeInner__title {
  color: white;
  font-size: var(--size-10);
  line-height: var(--text--line-height-sm);
  font-weight: var(--font-weight--medium);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .HomeInner__title {
    font-size: var(--size-12);
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .HomeInner__title {
    font-size: var(--text--h1--font-size);
    line-height: var(--text--h1--line-height);
    max-width: 24ch;
  }
}

.HomeInner__content {
  margin-top: var(--size-5);
  margin-inline: auto;
  max-width: 60ch;
}

.HomeInner__content,
.HomeInner__footer {
  color: var(--hero--color-text);
}

.HomeInner__content p {
  font-size: var(--text--p1--font-size);
  line-height: var(--text--p1--line-height);
}

.HomeInner__footer,
.HomeInner__availability {
  margin-top: var(--size-10);
}

.HomeInner__availability strong {
  color: white;
}
