.PageSection {
  --page-section--color-background: transparent;
  --page-section--color-text: inherit;
  --page-section--color-title: var(--color-minsk);
  --page-section--align-title: center;

  background-color: var(--page-section--color-background);
  color: var(--page-section--color-text);
  padding-left: var(--page--padding-x);
  padding-right: var(--page--padding-x);
  padding-top: var(--size-13);
  padding-bottom: var(--size-16);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .PageSection {
    padding-top: var(--size-24);
    padding-bottom: var(--size-24);
  }
}

.PageSection__content {
  position: relative;
  z-index: 10;
}

.PageSectionHeader {
  --page-section-header--title-size: clamp(
    var(--size-7),
    var(--text--clamp-relative-size),
    var(--size-10)
  );
}

.PageSection__title strong {
  --page-section--color-title: var(--color-minsk);

  display: block;
  font-size: var(--size-7);
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: var(--size-3);
  text-transform: capitalize;
  -webkit-text-fill-color: var(--color-minsk);
}

.PageSectionHeader--aligned-left {
  --page-section--align-title: left;
}

.PageSectionHeader--small {
  --page-section-header--title-size: var(--size-5);
}

.PageSectionHeader--medium {
  --page-section-header--title-size: var(--size-7);
}

.PageSectionHeader--large {
  --page-section-header--title-size: var(--size-15);
}

.PageSectionHeader--gradient .PageSection__title {
  background: linear-gradient(90deg, var(--color-heliotrope) 0%, var(--color-gigas) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.PageSection__title {
  color: var(--page-section--color-title);
  font-size: var(--page-section-header--title-size);
  line-height: var(--text--line-height-sm);
  text-align: var(--page-section--align-title);
}

.PageSectionHeader + .PageSection__Inner {
  margin-top: var(--size-13);
}

.PageSection__Inner {
  margin-inline: auto;
  max-width: var(--page--width-max);
}

.PageSection__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.PageSection--highlight {
  --page-section--color-background: var(--color-whisper);
}

.PageSection--inverted-light,
.PageSection--inverted-dark {
  --page-section--color-title: white;
  --page-section--color-text: white;
}

.PageSection--inverted-light {
  --page-section--color-background: var(--color-heliotrope);
}

.PageSection--inverted-dark {
  --page-section--color-background: var(--color-minsk);
}

.PageSection--split-reversed .PageSection__Inner,
.PageSection--split .PageSection__Inner {
  display: flex;
  gap: var(--size-10);
}

.PageSection--split-reversed .PageSection__Inner {
  flex-direction: column-reverse;
}

.PageSection--split .PageSection__Inner {
  flex-direction: column;
}

@media screen and (min-width: 64rem) {
  .PageSection--split-reversed .PageSection__Inner,
  .PageSection--split .PageSection__Inner {
    --page-section--align-title: left;

    flex-direction: row;
    gap: var(--size-38);
  }

  .PageSection--split-reversed .PageSection__Inner > *,
  .PageSection--split .PageSection__Inner > * {
    flex: 1 1 50%;
  }
}

.PageSection--summary {
  margin-top: 0;
  padding-bottom: var(--size-20);
  padding-top: var(--size-10);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .PageSection--summary {
    padding-top: var(--size-24);
    padding-bottom: var(--size-24);
  }
}

.PageSection--summary .PageSection__content {
  margin-inline: auto;
  max-width: 66rem;
  padding-left: var(--page--padding-x);
  padding-right: var(--page--padding-x);
}

.PageSection--summary .PageSection__title {
  color: var(--color-minsk);
  font-size: var(--size-8);
  font-weight: var(--font-weight--bold);
  line-height: var(--text--line-height-sm);
  max-width: 20ch;
}

.PageSection--summary .PageSection__Inner {
  font-size: var(--text--p1--font-size);
  line-height: var(--text--p1--line-height);
  margin-top: var(--size-10);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .PageSection--summary .PageSection__content {
    display: grid;
    gap: var(--size-10-px);
    grid-template-columns: 1fr 1fr;
  }

  .PageSection--summary .PageSection__title {
    font-size: var(--text--h2--font-size);
    line-height: var(--text--h2--line-height);
    text-align: left;
  }

  .PageSection--summary .PageSection__Inner {
    margin-top: 0;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .PageSection--summary .PageSection__content {
    gap: var(--size-38-px);
  }
}
