.Service {
  background-color: white;
  border: var(--size-2-px) solid white;
  border-radius: var(--size-4-px);
  box-shadow: 0 var(--size-1) var(--size-2) 0 rgba(82, 51, 159, 0.1);
  padding: var(--size-8) var(--size-8-px);
  position: relative;
  max-width: var(--card--width-max);
  background-image: url('/images/backgrounds/service-morph-lines.png');
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.Service__icon {
  position: absolute;
  transform: translateY(-50%);
  top: 0;
}

.Service__title {
  color: var(--color-minsk);
  font-size: var(--text--h3--font-size);
  font-weight: 600;
  line-height: var(--text--h3--line-height);
  margin-top: var(--size-4);
}

.Service__content {
  font-size: var(--size-3_5);
  margin-top: var(--size-4);
  flex: 1 1 0%;
}

.Service__content p + p {
  margin-top: 1rem;
}

.Service__footer {
  margin-top: var(--size-4);
}

.Service__footer a {
  font-weight: var(--font-weight--bold);
  color: var(--color-minsk);
  text-transform: capitalize;
  font-size: var(--size-3);
}

.Service__footer a:hover {
  text-decoration: underline;
}
