.Services {
  display: flex;
  flex-direction: column;
  max-width: var(--page--width-max);
  margin-inline: auto;
  gap: var(--size-15);
  align-items: center;
}

/* 992px */
@media screen and (min-width: 62rem) {
  .Services {
    align-items: stretch;
    flex-direction: row;
    gap: var(--card--gap--x);

    /* Use padding to increase space & avoid margin collapse */
    padding-top: var(--size-5);
  }
}
