.RelatedCaseStudies {
  display: flex;
  gap: var(--size-10-px);
  align-items: flex-start;
  gap: var(--size-4);
  overflow-x: auto;
  padding-bottom: var(--size-5);
  position: relative;
  padding-left: var(--page--padding-x);
  padding-right: var(--page--padding-x);
}

.RelatedCaseStudies__item {
  flex: 1 1 auto;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .RelatedCaseStudies {
    display: grid;
    gap: var(--size-10-px);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
