.RelatedCaseStudy {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-5);
  min-width: var(--size-72);
  max-width: var(--size-100);
  width: 100%;
}

.RelatedCaseStudy__title {
  color: var(--color-minsk);
  font-size: var(--text--p2--font-size);
}

.RelatedCaseStudy__image {
  background-color: var(--color-whisper);
  border-radius: var(--size-5);
  border: var(--size-3) solid white;
  box-shadow: 10.0484px 10.0484px 20.0968px rgba(145, 98, 244, 0.1);
  position: relative;
  width: 100%;

  aspect-ratio: 73 / 45;
  overflow: hidden;
}
