.Background {
  background-image: url('/images/backgrounds/about.svg');
  background-position: bottom;
  height: 100%;
  left: 50%;
  max-width: 1660px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -10;
}

.Background::before,
.Background::after {
  content: '';
  display: block;
}

/* Dotted line decoration */
.Background::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 304'%3E%3Cpath d='M2 2v300' stroke='%233E2A78' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='1 15'/%3E%3C/svg%3E");
  bottom: 0;
  left: 50%;
  height: 300px;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  width: var(--size-1);
  z-index: 10;
}

/* White gradient overlay */
.Background::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  bottom: 0;
  height: 461px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 20;
}
