.TeamMember {
  text-align: center;
  width: var(--size-72);
}

.TeamMember__image {
  aspect-ratio: 1;
  border-radius: var(--size-5);
  border: 0.375rem solid white;
  box-shadow: var(--box-shadow);
  margin-bottom: var(--size-4);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.TeamMember__name {
  color: var(--color-minsk);
  font-size: var(--size-5);
  margin-bottom: var(--size-1);
}

.TeamMember__icon {
  color: var(--color-minsk);
  height: var(--size-8);
  margin: var(--size-2) auto 0;
  transition: color 250ms ease;
  width: auto;
}

.TeamMember__icon:hover {
  color: var(--color--brand-primary);
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .TeamMember__icon {
    height: var(--size-6);
  }
}
