/*
 * [1] Adds spacing between the list and the scroll bar on mobile
 */
.TeamMembers {
  align-items: center;
  display: flex;
  gap: var(--size-5);
  overflow-x: auto;
  padding-bottom: var(--size-5); /* [1] */
  position: relative;
}

@media screen and (min-width: 48rem) {
  .TeamMembers {
    --TeamMembers--grid-columns: 3;

    gap: var(--size-9);
    overflow-x: initial;
    display: grid;
    grid-template-columns: repeat(var(--TeamMembers--grid-columns), 1fr);
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 64rem) {
  .TeamMembers {
    --TeamMembers--grid-columns: 4;
  }
}
