.Ecologi {
  --ecologi--color-background: var(--color-minsk);
  --ecologi--color-border: var(--color-gigas);
  --ecologi--color-text: white;
  --ecologi--space-x: var(--size-5);
  --ecologi--space-y: var(--size-5);

  background-color: var(--ecologi--color-background);
  border: 1px solid var(--ecologi--color-border);
  border-radius: 8px;
  color: var(--ecologi--color-text);
  display: flex;
  flex-direction: row-reverse;
  max-width: var(--size-100);
  padding: var(--ecologi--space-x) var(--ecologi--space-y);
  font-size: var(--size-3_5);
  line-height: var(--text--line-height-md);
}

.Ecologi__inner {
  flex: 1 1 auto;
  padding-right: var(--size-8);
}

.Ecologi__image {
  flex: 1 0 auto;
}

.Ecologi p + p {
  margin-top: 1em;
  font-size: var(--size-3);
}

.Ecologi a {
  border-bottom: 1px solid white;
  transition: border-color 250ms ease;
}

.Ecologi a:hover {
  border-color: transparent;
  text-decoration: none;
}
