.ClientLogos {
  overflow-x: auto;
  margin: var(--size-23) 0;
  padding-bottom: var(--size-5);
  width: 100%;
}

.ClientLogos__list {
  align-items: stretch;
  display: flex;
  height: var(--size-23);
  gap: var(--size-5-px);
  width: 100%;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .ClientLogos__list {
    flex-wrap: wrap;
    gap: var(--size-10-px);
    height: auto;
    justify-content: center;
  }
}

.ClientLogos__listItem {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: var(--size-4-px);
}

@media screen and (min-width: 48rem) {
  .ClientLogos__listItem {
    flex: 0 0 calc(10% - var(--size-9));
  }
}
