.PostGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--card--gap--y);
  grid-row-gap: var(--card--gap--x);
}

@media screen and (min-width: 48rem) {
  .PostGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 64rem) {
  .PostGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
