.Process {
  align-items: flex-start;
  display: flex;
  gap: var(--size-4);
  overflow-x: auto;
  padding-bottom: var(--size-5);
  position: relative;
}

.Process__step {
  flex: 1 1 auto;
  position: relative;
}

.Process__step:not(:last-of-type)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 4'%3E%3Cpath d='M2 2h920' stroke='%23ECEAF5' stroke-width='0.25rem' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='1 15' /%3E%3C/svg%3E%0A");
  content: '';
  display: block;
  height: 0.25rem;
  left: 1rem;
  position: absolute;
  right: -2rem;
  top: 40px;
}
