.Step {
  min-width: var(--size-60);
  max-width: var(--size-72);
  padding-bottom: var(--size-5);
  width: 100%;
}

.Step__title {
  font-size: var(--text--h4--font-size);
  font-weight: var(--text--h4--font-weight);
  line-height: var(--text--h4--line-height);
  margin-top: var(--size-3);
  white-space: nowrap;
}

.Step__content p {
  color: var(--color-fog);
  font-size: var(--text--p3--font-size);
  line-height: var(--text--p3--line-height);
}
