.Button {
  --button--border-radius: var(--size-1-px);
  --button--color--background: var(--color--brand-primary);
  --button--color--shadow: var(--color-melrose);
  --button--color--text: var(--color--brand-primary-inverted);
  --button--padding-x: var(--size-4);
  --button--padding-y: var(--size-3);
  --button--font-size: var(--size-4);

  text-align: center;
  background-color: var(--button--color--background);
  border-radius: var(--button--border-radius);
  box-shadow: 0px 1px 1px 0px var(--button--color--shadow) inset;
  color: var(--button--color--text);
  display: inline-block;
  font-size: var(--button--font-size);
  font-weight: 700;
  line-height: var(--text--line-height-sm);
  padding: var(--button--padding-y) var(--button--padding-x);
  text-transform: capitalize;
  transition: background-color 250ms ease-out;
}

.Button:hover {
  --button--color--background: var(--color-heliotrope-ish);

  text-decoration: none;
}

.Button--large {
  --button--border-radius: var(--size-2-px);
  --button--padding-x: var(--size-6);
  --button--padding-y: var(--size-5);
  --button--font-size: var(--size-5);
  --button--line-height: var(--size-5);
}

.Button--medium {
  --button--border-radius: var(--size-1-px);
  --button--padding-x: var(--size-4);
  --button--padding-y: var(--size-3);
  --button--font-size: var(--size-4);
  --button--line-height: var(--size-5);
}

.Button--secondary {
  --button--color--text: var(--color-minsk);
  --button--color--background: var(--color-whisper);
  --button--color--shadow: none;
}

.Button--secondary:hover {
  --button--color--background: var(--color--brand-primary-inverted);
  box-shadow: var(--box-shadow-md);
}

.Button--tertiary {
  --button--color--text: white;
  --button--color--background: var(--color-minsk);
  --button--color--shadow: none;
}

.Button--tertiary:hover {
  --button--color--background: var(--color-gigas);
  box-shadow: var(--box-shadow-md);
}

.Button--plain {
  display: inline-block;
  font-weight: var(--font-weight--bold);
  color: var(--color-minsk);
  background-color: transparent;
  border: 0;
  padding: 0;
  box-shadow: none;
  border-bottom: var(--size-0) solid var(--color-minsk);
  border-radius: 0;
}
