.WhyTheName__content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.WhyTheName__contentInner p {
  font-size: var(--text--p3--font-size);
  line-height: var(--text--p3--line-height);
}

.WhyTheName__contentInner p:first-of-type {
  margin-top: var(--size-5);
}

.WhyTheName__contentInner p + p {
  margin-top: var(--size-4);
}

.WhyTheName__image {
  aspect-ratio: 73/45;
  border: var(--size-3) solid white;
  border-radius: var(--size-5);
  filter: drop-shadow(10.0484px 10.0484px 20.0968px rgba(145, 98, 244, 0.1));
  overflow: hidden;
  position: relative;
}
