.Availability {
  color: inherit;
  font-size: var(--size-3_5);
}

.Availability__period {
  display: block;
  font-size: var(--text--h4--font-size);
  line-height: var(--text--h4--line-height);
  font-weight: var(--text--h4--font-weight);
  line-height: 1.5;
}
