.Footer {
  --footer--color-background: var(--color-port-gore);
  --footer--color-border: var(--color--brand-primary);
  --footer--color-text: white;
  --footer--padding-x: var(--page--padding-x);
  --footer--padding-y: var(--size-4);

  background-color: var(--footer--color-background);
  border-top: 5px solid var(--footer--color-border);
  color: var(--footer--color-text);
  padding: var(--footer--padding-y) var(--footer--padding-x);
  position: relative;
  margin-top: auto;
  width: 100%;
}

.Footer a {
  color: var(--footer--color-text);
  margin-bottom: var(--size-3);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Footer a {
    margin-bottom: 0;
  }
}

.Footer__row {
  padding-top: var(--size-8);
  display: flex;
  align-items: center;
  gap: var(--size-10);
  flex-direction: column;
  justify-content: center;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Footer__row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Footer__row {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-inline: auto;
    max-width: var(--page--width-max);
    width: 100%;
  }
}

.Footer__row ~ .Footer__row {
  align-items: center;
  margin-top: var(--size-10);
  padding-bottom: var(--size-8);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Footer__logo {
    margin-right: auto;
  }

  .Footer__row ~ .Footer__row > :last-child {
    width: 100%;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Footer__row ~ .Footer__row {
    flex-wrap: wrap;
  }

  .Footer__logo {
    margin-right: unset;
  }

  .Footer__row ~ .Footer__row > :last-child {
    width: unset;
  }
}

.Footer__separator {
  border-top-color: var(--color-minsk);
  border-top-width: 1px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: var(--size-10);
}

.Footer__tagline {
  font-size: var(--text--h3--font-size);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--text--line-height-sm);
  text-align: center;
  text-transform: capitalize;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Footer__tagline {
    width: 100%;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Footer__tagline {
    flex-shrink: 0;
    text-align: left;
    width: unset;
  }
}

.Footer__tagline span {
  display: block;
  color: var(--color--brand-primary);
}

.Links {
  margin-inline: auto;
  max-width: var(--size-100);
  width: 100%;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Links {
    flex-shrink: 1;
    max-width: var(--size-72-px);
    margin-inline: unset;
    margin-right: auto;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Links {
    margin-right: 0;
  }
}

.Navigation__items {
  columns: 3;
  column-gap: var(--size-4);
}

.Navigation__link {
  display: block;
  font-size: var(--text--p2--font-size);
  line-height: var(--text--p2--line-height);
}

.Footer__social {
  margin-top: var(--size-5);
}

.Footer__logo {
  max-width: var(--size-48);
  width: 100%;
}

.Footer__toTop {
  background-color: white;
  border-radius: var(--size-15);
  box-shadow: 0 0.15625rem var(--size-1) 0 #0000001f;
  color: var(--color--brand-primary) !important;
  height: var(--size-15);
  left: 50%;
  padding: var(--size-4);
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: var(--size-15);
}

.Footer__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Footer__item {
    width: auto;
  }

  .Footer__item:last-child {
    order: 2;
  }

  .Footer__item:nth-child(2) {
    order: 3;
  }
}
