.CaseStudy {
  --case-study--orientation: column-reverse;

  background: white;
  display: flex;
  flex-direction: var(--case-study--orientation);
}

/* 992px */
@media screen and (min-width: 62rem) {
  .CaseStudy {
    --case-study--orientation: row;

    align-items: center;
    justify-content: space-between;
  }

  .CaseStudy--reversed {
    --case-study--orientation: row-reverse;
  }
}

.CaseStudy__inner,
.CaseStudy__image {
  flex: 1 1 auto;
}

.CaseStudy__inner {
  max-width: var(--width--reading--narrow);
  margin-top: var(--size-8);
}

.CaseStudy__image {
  aspect-ratio: 73 / 45;
  border: var(--size-3) solid white;
  border-radius: var(--size-5);
  box-shadow: 10.0484px 10.0484px 20.0968px rgba(145, 98, 244, 0.1);
  overflow: hidden;
  position: relative;
  max-width: 730px;
}

.CaseStudy__footer {
  margin-top: var(--size-6);
}
