.CaseStudies {
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
  align-items: center;
}

/* 992px */
@media screen and (min-width: 62rem) {
  .CaseStudies {
    align-items: unset;
  }
}
