.TechnologyLogos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-1);
  color: var(--color-minsk);
  margin-top: var(--size-14);
  margin-bottom: var(--size-10);
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .TechnologyLogos {
    margin-top: var(--size-18);
    margin-bottom: 0;
  }
}

.TechnologyLogo__item {
  width: 30%;
}

.TechnologyLogos svg {
  max-width: 7rem;
  width: 100%;
  margin-inline: auto;
}
