.NextProject {
  --NextProject--padding--t: var(--size-5);
  --NextProject--padding--r: var(--size-5);
  --NextProject--padding--b: var(--size-10);
  --NextProject--padding--l: var(--size-5);

  background: radial-gradient(121.35% 100% at 82.14% 0%, var(--color-gray) 0%, #000000 100%),
    var(--color-heliotrope);
  background-blend-mode: screen, normal;
  border-radius: var(--size-3);
  gap: var(--size-8);
  padding: var(--NextProject--padding--t) var(--NextProject--padding--r)
    var(--NextProject--padding--b) var(--NextProject--padding--l);
  position: relative;
}

.NextProject,
.NextProject__trailing,
.NextProject__text {
  display: flex;
  flex-direction: column;
}

.NextProject__trailing,
.NextProject__leading {
  position: relative;
  z-index: 10;
}

.NextProject__icon {
  /* 128px */
  height: 8rem;

  /* 170px */
  width: 10.625rem;
  margin-inline: auto;
}

.NextProject__text {
  gap: var(--size-3);
  text-align: center;
}

.NextProject__title {
  --NextProject-title--font-size: var(--size-8);

  font-size: var(--NextProject-title--font-size);
  font-weight: var(--font-weight--bold);
  line-height: var(--text--h3--line-height);
  max-width: 20ch;
}

.NextProject__text p {
  margin-inline: auto;
  max-width: 28ch;
}

.NextProject__trailing {
  align-items: center;
}

.NextProject__shade {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}

.NextProject__shade::after {
  background-image: url('/images/backgrounds/cta-next-project.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* 448px */
@media screen and (min-width: 28rem) {
  .NextProject {
    --NextProject--padding--b: var(--size-5);
  }

  .NextProject__leading {
    display: flex;
    flex-direction: row;
    gap: var(--size-5);
  }

  .NextProject__icon {
    margin-inline: unset;
  }

  .NextProject__text {
    text-align: left;
  }

  .NextProject__title {
    max-width: unset;
  }

  .NextProject__text p {
    margin-inline: unset;
    max-width: unset;
  }

  .NextProject__shade {
    left: unset;
    max-width: var(--size-88);
    width: 50%;
  }

  .NextProject__shade::after {
    aspect-ratio: 350/700;
    right: -6rem;
    top: 50%;
    transform: translateY(-47%);
    width: 100%;
  }
}

/* 768px */
@media screen and (min-width: 48rem) {
  .NextProject {
    align-items: center;
    flex-direction: row;
  }

  .NextProject__leading {
    flex-grow: 1;
    position: relative;
  }

  .NextProject__trailing {
    flex-shrink: 0;
  }

  .NextProject__icon {
    bottom: 0;

    /* 176px */
    height: 11rem;
    position: absolute;
    right: -1rem;

    /* 235px */
    width: 14.6875rem;
    z-index: 5;
  }

  .NextProject__text {
    gap: var(--size-2);
    position: relative;
    z-index: 10;
  }

  .NextProject__title {
    max-width: 20ch;
  }

  .NextProject__text p {
    max-width: 32ch;
  }
}

/* 896px */
@media screen and (min-width: 56rem) {
  .NextProject__title {
    max-width: 22ch;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .NextProject {
    --NextProject--padding--t: 0;
    --NextProject--padding--r: var(--size-8);
    --NextProject--padding--b: 0;
    --NextProject--padding--l: var(--size-8);
  }

  .NextProject__leading {
    padding-bottom: var(--size-16);
    padding-top: var(--size-14);
  }

  .NextProject__icon {
    /* 240px */
    height: 15rem;

    /* 320px */
    width: 20rem;
  }

  .NextProject__title {
    max-width: 20ch;
  }

  .NextProject__text p {
    max-width: unset;
  }

  .NextProject__title {
    --NextProject-title--font-size: var(--text--h2--font-size);
  }
}

/* 1280px */
@media screen and (min-width: 80rem) {
  .NextProject {
    --NextProject--padding--r: var(--size-18);
    --NextProject--padding--l: var(--size-18);
  }

  .NextProject__title {
    max-width: unset;
  }
}
