.CompetencyList {
  margin-top: var(--size-8);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .CompetencyList {
    margin-top: var(--size-16);
  }
}

.Competency {
  --competency--color--border: var(--color-whisper);

  font-size: var(--size-3_5);
  padding-left: var(--size-5);
  position: relative;
  padding-bottom: var(--size-2);
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Competency {
    padding-left: var(--size-6);
  }
}

.Competency + .Competency {
  margin-top: var(--size-10);
}

.Competency::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.375rem;
  background-color: var(--competency--color--border);
  border-radius: var(--size-3);
  transition: background-color 250ms ease-in;
}

.Competency:hover::before {
  background-color: var(--color--brand-primary);
}

.Competency__title {
  color: var(--color-minsk);
  display: block;
  font-weight: var(--font-weight--semi-bold);
  font-size: var(--size-5);
  line-height: var(--text--line-height-lg);
}
