.ArticleContent {
  margin-inline: auto;
  max-width: 75ch;
  padding: 0 var(--page--padding-x);
}

.ArticleContent h1,
.ArticleContent h2,
.ArticleContent h3,
.ArticleContent h4,
.ArticleContent h5,
.ArticleContent h6 {
  color: var(--color-heliotrope);
  line-height: var(--text--line-height-sm);
  font-size: var(--size-6);
  font-weight: var(--font-weight--semi-bold);
  margin: var(--size-2) 0 var(--size-4);
}

.ArticleContent h5 {
  font-size: var(--size-5);
}

.ArticleContent h6 {
  font-size: var(--size-4);
  color: var(--page--color-text);
}

.ArticleContent p {
  margin-bottom: var(--size-4);
  color: var(--color-port-gore);
}

.ArticleContent ul,
.ArticleContent ol {
  padding-left: var(--size-8);
  margin-bottom: var(--size-4);
}

.ArticleContent li + li {
  margin-top: var(--size-2);
}

.ArticleContent code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 var(--size-2);
}

.ArticleContent a {
  color: var(--color-heliotrope);
  text-decoration: none;
}

.ArticleContent blockquote blockquote {
  --blockquote--color-background: var(--color-light-gray);
}

.ArticleContent blockquote {
  --blockquote--color-background: var(--color-whisper);
  background-color: var(--blockquote--color-background);
  padding: var(--size-5) var(--size-7);
  margin-bottom: var(--size-4);
  color: var(--color-heliotrope);
  border-radius: var(--size-2);
  border-left: var(--size-1) solid var(--color-heliotrope);
  font-size: var(--size-4);
  line-height: var(--text--line-height-xl);
}

.ArticleContent blockquote p {
  font-size: var(--size-4) !important;
  margin-bottom: 0 !important;
}
