.Logo {
  --logo--color-brandmark: var(--color--brand-primary);
  --logo--color-overlay: transparent;
  --logo--color-text: var(--color-port-gore);
  --logo--color-gradient-stop: var(--color-gray);

  width: 500px;
}

/* "Increment By One" */
.Logo__text {
  fill: var(--logo--color-text);
}

/* The white inner plus overridden for certain backgrounds */
.Logo__plusInner {
  fill: var(--logo--color-overlay);
}

/* Plus symbol background */
.Logo__plus {
  fill: var(--logo--color-brandmark);
}

/* Plus symbol gradient overlay */
.Logo__plusOverlay {
  mix-blend-mode: screen;
}

/* The small boxes before the plus */
.LogoBox {
  fill: var(--logo--color-brandmark);
}

.LogoBox--lower {
  opacity: 0.7;
}

.LogoBox--mid {
  opacity: 0.3;
}

.LogoBox--upper {
  opacity: 0.5;
}

.Logo__colorStop {
  stop-color: var(--logo--color-gradient-stop);
}

.Logo--inverted {
  --logo--color-overlay: white;
  --logo--color-text: white;
}

.Logo--invertedMono {
  --logo--color-brandmark: white;
  --logo--color-overlay: transparent;
  --logo--color-text: white;
}

.Logo--mono {
  --logo--color-brandmark: black;
  --logo--color-overlay: white;
  --logo--color-text: black;
}
