.Author {
  --author--name--text-color: var(--color-heliotrope);

  display: flex;
  position: relative;
  z-index: 10;
}

.Author--inverted {
  --author--name--text-color: inherit;
}

.Author__name {
  font-weight: var(--font-weight--semi-bold);
  font-size: var(--size-4);
  color: var(--author--name--text-color);
}

.Author__avatar {
  display: block;
  width: var(--size-10);
  height: var(--size-10);
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  margin-right: var(--size-3);
  position: relative;
}

.Author__content {
  text-align: left;
  flex-shrink: 1;
}

.Author__text {
  font-size: var(--size-3_5);
}
