.ServiceOverview__inner {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48rem) {
  .ServiceOverview__inner {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--size-12);
    align-items: center;
  }
}

.ServiceOverview__image {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--size-6);
}

.ServiceOverview__img {
  position: absolute;
}

.ServiceOverview__image::after {
  content: '';
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: var(--size-24);
  height: var(--size-24);
}

.ServiceOverview__image img {
  z-index: 10;
}

.ServiceOverview__title {
  font-size: var(--size-7);
  font-weight: var(--font-weight--semi-bold);
  color: var(--color-minsk);
  margin-bottom: var(--size-4);
}

.ServiceOverview__copy {
  margin-bottom: var(--size-8);
  max-width: 60ch;
}

@media screen and (min-width: 48rem) {
  .ServiceOverview__description {
    min-width: 50%;
  }
}

.Details {
  background-color: white;
  border-radius: var(--size-4-px);
  box-shadow: 0 var(--size-1) var(--size-2) 0 rgba(82, 51, 159, 0.1);
  padding: var(--size-10) var(--size-7);
  position: relative;
}

@media screen and (min-width: 48rem) {
  .Details {
    min-width: 50%;
    padding: var(--size-24);
  }
}

.Details__title {
  color: var(--color-heliotrope);
  font-weight: var(--font-weight--semi-bold);
  font-size: var(--size-7);
}

@supports (--webkit-text-fill-color: transparent) {
  .Details__title {
    background: radial-gradient(121.35% 100% at 82.14% 0%, var(--color-gray) 0%, black 100%)
      var(--color-heliotrope);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: screen, normal;
  }
}

.Details__service {
  font-size: var(--size-5);
  color: var(--color-minsk);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--text--line-height-lg);
}

.ServiceOverview__CTA {
  --DP-CallToAction--border-color: var(--color-gainsboro);

  border-color: var(--DP-CallToAction--border-color);
  margin-top: var(--size-12);
  color: var(--color-minsk);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .ServiceOverview__CTA p {
    width: 66ch;
  }
}
