.CallToAction {
  --DP-CallToAction--border-width: var(--size-0) 0 0 0;
  --DP-CallToAction--padding-y: var(--size-8);
  --DP-CallToAction--border-color: white;

  border-color: var(--DP-CallToAction--border-color);
  border-style: solid;
  border-width: var(--DP-CallToAction--border-width);
  padding: var(--DP-CallToAction--padding-y) 0;
}

@media screen and (min-width: 42rem) {
  .CallToAction {
    --DP-CallToAction--border-width: var(--size-0) 0;
    --DP-CallToAction--padding-y: var(--size-9);

    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: var(--size-8);
  }
}

.CallToAction__text {
  font-size: var(--text--p1--font-size);
  line-height: var(--text--p1--line-height);
  flex: 0 1 auto;
}

.CallToAction__button {
  flex: 0 0 auto;
  margin-top: var(--size-8);
}

@media screen and (min-width: 42rem) {
  .CallToAction__button {
    margin-top: 0;
  }
}
