.DecoratedImage {
  background-color: var(--color-whisper);
  border: var(--size-2) solid var(--color-whisper);
  box-shadow: 10.0484px 10.0484px 20.0968px rgba(145, 98, 244, 0.1);
  border-top-left-radius: var(--size-7);
  border-bottom-left-radius: var(--size-7);
  display: flex;
  align-items: center;
  position: relative;
  border-right: 0;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .DecoratedImage {
    border: var(--size-3) solid var(--color-whisper);
    border-radius: var(--size-7);
  }
}

.DecoratedImage::before {
  content: '';
  border: var(--size-1) solid var(--color-heliotrope);
  position: absolute;
  border-radius: var(--size-6);
  top: -0.65rem;
  right: -0.65rem;
  bottom: -0.65rem;
  left: -0.65rem;
  transform: translate(1.2em, 1.2rem);
  z-index: -1;
}

.DecoratedImage__inner {
  display: flex;
  position: relative;
  z-index: 50;
}

.DecoratedImage img {
  border-top-left-radius: var(--size-5);
  border-bottom-left-radius: var(--size-5);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .DecoratedImage img {
    border-radius: var(--size-5);
  }
}
