.SocialLinks__title {
  font-size: var(--size-4);
  font-weight: normal;
}

.SocialLinks__items {
  display: flex;
  gap: var(--size-4);
  justify-content: center;
  margin-top: var(--size-4);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .SocialLinks__items {
    justify-content: unset;
  }
}

.SocialLinks__link {
  display: inline-block;
  padding: var(--size-2);
}

.SocialLinks__link:hover {
  color: var(--color--brand-primary);
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .SocialLinks__link {
    padding: 0;
  }
}

.SocialLinks__icon {
  height: var(--size-8);
  width: auto;
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .SocialLinks__icon {
    height: var(--size-5);
  }
}
