.ServiceOutro {
  background-color: var(--color-minsk);
  color: white;
}

.ServiceOutro__title {
  font-size: var(--size-7);
  font-weight: var(--font-weight--semi-bold);
  text-transform: capitalize;
  color: var(--color-minsk);
  margin-bottom: var(--size-4);
  color: white;
}

@media screen and (min-width: 48rem) {
  .ServiceOutro__inner {
    max-width: var(--width--reading);
    padding: var(--size-10) 0;
  }
}

.ServiceOutro__main {
  padding: var(--size-13) var(--page--padding-x) var(--size-16);
  position: relative;
}

@media screen and (min-width: 48rem) {
  .ServiceOutro__main {
    max-width: var(--page--width-max);
    margin: 0 auto;
  }
}

.ServiceOutro__copy {
  margin-bottom: var(--size-8);
}
