.Navigation {
  --navigation--link-spacing: var(--size-9);
  --navigation--link-padding: var(--size-1);
}

.Navigation__items {
  display: flex;
}

.Navigation__item + .Navigation__item {
  margin-left: var(--navigation--link-spacing);
}

.Navigation__link {
  padding-left: var(--navigation--link-padding);
  padding-right: var(--navigation--link-padding);
}

.Navigation--header .Navigation__item:last-of-type {
  margin-left: auto;
}
