.ServiceIntro {
  background-color: var(--color-whisper) !important;
}

.ServiceIntro__subtitle {
  margin: 0 0 var(--size-6);
  font-size: var(--size-5);
  font-weight: var(--font-weight--regular);
  color: var(--color-minsk);
}

.ServiceIntro__illustration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .ServiceIntro__illustration {
    justify-content: center;
  }
}

.ServiceIntro__inner {
  background: var(--color-fog);
  background-blend-mode: screen, normal;
  position: relative;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .ServiceIntro__inner {
    width: 24.375rem;
    height: 22.5rem;
  }
}

.ServiceIntro__illustration svg {
  width: var(--size-60);
}

@media screen and (min-width: 48rem) {
  /* 768px */
  .ServiceIntro__illustration svg {
    width: var(--size-100);
  }
}

.ServiceIntro p {
  font-size: var(--size-3_5);
  margin-bottom: var(--size-6);
}
