.ListItem {
  margin-bottom: var(--size-8);
}

.ListItem::before {
  width: 1.875rem;
  counter-increment: service-list;
  content: counter(service-list);
  padding: 0.19rem 0.64rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(121.35% 100% at 82.14% 0%, var(--color-gray) 0%, black 100%)
    var(--color-heliotrope);
  background-blend-mode: screen, normal;
  border-radius: var(--size-2);
  color: white;
  font-weight: var(--font-weight--semi-bold);
  font-size: var(--size-4);
  margin-right: var(--size-3_5);
}

.ListItem__title {
  display: inline-block;
  margin-bottom: var(--size-2);
  font-size: var(--size-5);
  font-weight: var(--font-weight--semi-bold);
  color: var(--color-minsk);
}

.ListItem__copy {
  padding-left: var(--size-12);
}
