.ServiceList__title {
  font-size: var(--size-7);
  font-weight: var(--font-weight--semi-bold);
  text-transform: capitalize;
  color: var(--color-minsk);
  margin-bottom: var(--size-4);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .ServiceList__title {
    max-width: 21ch;
  }
}

.ServiceList__link {
  margin: var(--size-8) 0;
}
