/* 768px */
@media screen and (min-width: 48rem) {
  .Ecologi__content {
    padding-top: 4rem;
  }
}

.Ecologi__partnered {
  display: flex;
  list-style: none;
  gap: var(--size-6);
  margin-bottom: var(--size-6);
  align-items: center;
}

.Ecologi__copy {
  margin: var(--size-6) 0;
}

.Ecologi__trees {
  color: var(--color-paolo-veronese-green);
  font-size: var(--size-5);
  font-weight: var(--font-weight--semi-bold);
  margin: var(--size-6) 0;
  display: flex;
  align-items: baseline;
  gap: var(--size-2);
}

.Egologi__tree {
  font-size: var(--size-8);
}

.Ecologi__logo {
  width: 6.69rem;
}
