.RelatedPosts {
  padding: var(--size-13) var(--size-5) var(--size-24);
  background-color: var(--color-whisper);
}

@media screen and (min-width: 48rem) {
  .RelatedPosts {
    padding: var(--size-19) var(--size-19) var(--size-24);
  }
}

.RelatedPosts__title {
  font-size: var(--size-5);
  color: var(--color-minsk);
  margin-bottom: var(--size-2);
  text-align: center;
  margin-bottom: var(--size-13);
}
