.PostItem {
  border-radius: var(--size-4);
  box-shadow: var(--box-shadow);
  background-color: white;
  max-width: var(--card--width-max);
  transition: transform 250ms ease;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.PostItem:hover {
  transform: scale(1.125);
}

.PostItem > a {
  color: inherit;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.PostItem > a:hover {
  text-decoration: none;
}

.PostItem__image {
  width: 100%;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: var(--size-4);
  border-top-right-radius: var(--size-4);
  flex-shrink: 0;
}

.PostItem__inner {
  padding: var(--size-6);
  display: flex;
  flex-direction: column;
  flex: 1 1 0% !important;
}

.PostItem header {
  margin-bottom: var(--size-2);
}

.PostItem__title {
  font-size: var(--size-5);
  font-weight: var(--font-weight--semi-bold);
  color: var(--color-minsk);
}

.PostItem__excerpt {
  display: block;
  font-size: var(--size-3_5);
  margin-bottom: var(--size-7);
}

.PostItem footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PostItem__permalink {
  width: var(--size-9);
  height: var(--size-9);
  border-radius: 9999px;
  background-color: var(--color-heliotrope);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow-sm);
}

.PostItem__arrow {
  width: var(--size-5);
  height: var(--size-5);
}

.PostItem__content {
  flex: 1 1 0%;
}
