.CaseStudyGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-20) var(--size-10);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .CaseStudyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
