.CaseStudyItem {
  position: relative;
  max-width: 620px;
  width: 100%;
}

.CaseStudyItem__link {
  color: inherit;
}

.CaseStudyItem__link:hover {
  text-decoration: none;
}

.CaseStudyItem__inner {
  display: flex;
  flex-direction: column;
}

.CaseStudyItem__header,
.CaseStudyItem__summary,
.CaseStudyItem__footer {
  order: 1;
  padding-left: var(--size-10-px);
  padding-right: var(--size-10-px);
}

.CaseStudyItem__header {
  height: var(--size-12);
  margin-top: var(--size-12);
}

.CaseStudyItem__title {
  font-size: var(--text--h3--font-size);
  line-height: var(--text--h3--line-height);
}

.CaseStudyItem__logo {
  position: relative;
  width: 100%;
}

.CaseStudyItem__image {
  aspect-ratio: 73 / 45;
  background-color: var(--color-whisper);
  border-radius: var(--size-5);
  border: var(--size-3) solid white;
  box-shadow: 10.0484px 10.0484px 20.0968px rgba(145, 98, 244, 0.1);
  order: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.CaseStudyItem__summary,
.CaseStudyItem__footer {
  margin-top: var(--size-5);
}

.CaseStudyItem__summary p {
  font-size: var(--text--p3--font-size);
  line-height: var(--text--p3--line-height);
}
