.ImageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: var(--size-3-px);
}

.ImageGridItem {
  aspect-ratio: 1;
  position: relative;
}

.ImageGridItem--primary {
  grid-column: span 2;
}

@media screen and (min-width: 48rem) {
  .ImageGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .ImageGridItem--primary {
    grid-column: span 2;
    grid-row: span 2;
  }
}
