.Badge {
  --badge--color-bg: var(--color-whisper);
  --badge--color-text: var(--color-heliotrope);

  background-color: var(--badge--color-bg);
  border-radius: var(--size-13);
  color: var(--badge--color-text);
  display: table;
  font-size: var(--size-3_5);
  font-weight: var(--font-weight--bold);
  line-height: var(--text--line-height-sm);
  margin-bottom: var(--size-3);
  padding: var(--size-3-px) var(--size-4-px);
  text-transform: capitalize;
}
