.Header {
  --header--padding-x: var(--page--padding-x);
  --header--padding-y: var(--size-7);
  --header--logo-width: var(--size-60);

  --header--off-canvas--color-background: white;

  padding: var(--header--padding-y) var(--header--padding-x);
  width: 100%;
}

.Header__Logo {
  max-width: var(--header--logo-width);
  z-index: 20;
  position: relative;
}

.Header__Logo svg {
  width: 100%;
}

.Header__navTriggerLabel {
  color: var(--color-minsk);
  display: block;
  height: var(--size-6);
  position: absolute;
  right: var(--header--padding-x);
  top: var(--header--padding-y);
  transition: color 250ms ease;
  width: var(--size-6);
  z-index: 10;
}

.Header--inverted .Header__navTriggerLabel {
  color: var(--color--brand-primary-inverted);
}

.Header__navTriggerInput {
  display: none;
}

.OffCanvas {
  --off-canvas--padding-x: var(--size-10-px);
  --off-canvas--padding-y: var(--size-13-px);

  background-color: var(--header--off-canvas--color-background);
  box-shadow: var(--size-3) 0px var(--size-3) rgba(0, 0, 0, 0.25);
  color: var(--color-minsk);
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  padding: var(--off-canvas--padding-y) var(--off-canvas--padding-x);
  position: fixed;
  top: 0;
  transform: translateX(-120%);
  transition: transform 250ms ease-out;
  max-width: var(--size-88);
  width: 100%;
  z-index: 100;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .OffCanvas {
    overflow-y: unset;
  }
}

.OffCanvas__contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-7);
  margin-top: var(--size-4);
}

.OffCanvas__logo {
  max-width: 10rem;
}

.OffCanvas__email {
  font-size: var(--text--h4--font-size);
  font-weight: var(--font-weight--semi-bold);
}

.Navigation {
  margin-bottom: auto;
}

.OffCanvas .Header__navTriggerLabel {
  color: var(--color-port-gore);
  right: var(--off-canvas--padding-x);
  top: var(--off-canvas--padding-y);
}

.OffCanvas .Header__navTriggerLabel:hover {
  color: var(--color-heliotrope);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Navigation__items .Navigation__items {
    background-color: white;
    border-radius: var(--size-2);
    box-shadow: var(--box-shadow-md);
    padding: var(--size-4);
    display: none;
    position: absolute;
    width: auto;
  }

  .Navigation__item:hover .Navigation__items {
    display: block;
  }
}

.Navigation__item {
  margin-top: var(--size-8);
}

/* 376px */
@media screen and (min-width: 23.5rem) {
  .Navigation__item {
    margin-top: var(--size-16-px);
  }
}

.Navigation__items .Navigation__items .Navigation__item {
  margin-top: var(--size-4);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Navigation__items .Navigation__items .Navigation__item {
    text-align: left;
  }

  .Navigation__items .Navigation__items .Navigation__item:first-of-type {
    margin-top: 0;
  }
}

.Navigation__link {
  color: var(--color-port-gore);
  font-size: var(--size-6);
  font-weight: var(--font-weight--medium);
}

.Navigation__items .Navigation__items .Navigation__link {
  font-size: var(--size-4);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Navigation__items .Navigation__items .Navigation__link {
    font-size: var(--size-3_5);
  }
}

/* up to 768px */
@media screen and (max-width: 48rem) {
  /* Get in Touch button */
  .Navigation__linkBtn {
    background-color: var(--color--brand-primary);
    color: var(--color--brand-primary-inverted);
  }
}

input:checked + .OffCanvas {
  transform: translateX(0);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Header {
    --header--padding-y: 0; /*var(--size-12);*/

    position: relative;
  }

  .Header--inverted .Navigation__link {
    color: var(--color--brand-primary-inverted);
  }

  .Header--inverted .Navigation__items .Navigation__items .Navigation__link {
    color: var(--color-minsk);
  }

  .Header__Logo {
    display: table;
    position: absolute;
    left: 50%;
    margin-top: var(--size-4-px);
    transform: translate(-50%, 0);
  }

  .Header__navTriggerLabel {
    display: none;
  }

  .OffCanvas {
    --off-canvas--padding-x: 0;

    background-color: transparent;
    box-shadow: none;
    display: block;
    height: auto;
    margin-inline: auto;
    max-width: 1280px;
    /* padding-top: 0; */
    position: static;
    transform: none;
    width: 100%;
  }

  .OffCanvas__contact {
    display: none;
  }

  .Navigation {
    margin-bottom: initial;
    position: relative;
    z-index: 10;
  }

  .Navigation__items {
    align-items: center;
    display: flex;
    gap: var(--size-6);
    width: 100%;
  }

  .Navigation__item {
    margin-top: 0;
  }

  .Navigation__item:last-of-type {
    margin-left: auto;
  }

  .Navigation__link {
    font-size: var(--size-3_5);
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .Header__Logo {
    top: 50%;
    left: 50%;
    margin-top: 0;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

/* 1280px */
@media screen and (min-width: 80rem) {
  .Navigation__items {
    gap: var(--size-10);
  }
}
