/* .DevelopmentProcess {
} */

.DevelopmentProcess__intro {
  max-width: var(--width--reading);
  margin-top: var(--size-4);
}

.DevelopmentProcess__process {
  margin-top: var(--size-24);
}

.DevelopmentProcess__CTA {
  margin-top: var(--size-16);
}
