.About {
  padding: 0 0 var(--size-20);
}

@media screen and (min-width: 48rem) {
  .About {
    padding: var(--size-19) 0 var(--size-24);
  }
}

.About__tag {
  padding: var(--size-2) var(--size-4);
  border-radius: 9999px;
  background-color: var(--color-whisper);
  font-size: var(--size-3_5);
  font-weight: var(--font-weight--bold);
  line-height: var(--size-4);
  color: var(--color-heliotrope);
  margin-bottom: var(--size-5);
  display: inline-block;
}

.About__title {
  font-size: var(--size-9);
  line-height: var(--size-12);
  font-weight: var(--font-weight--regular);
  color: var(--color-minsk);
  margin: 0 auto var(--size-7);
  width: 14ch;
}

@media screen and (min-width: 48rem) {
  .About__title {
    font-size: var(--size-15);
    line-height: var(--text--line-height);
    width: 25ch;
    margin: 0 auto var(--size-9);
  }
}

.About__intro {
  width: 40ch;
  margin: 0 auto var(--size-9);
}

@media screen and (min-width: 48rem) {
  .About__intro {
    width: 70ch;
  }
}

.Name {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 48rem) {
  .Name {
    padding: var(--size-19) var(--size-19) var(--size-24);
    flex-direction: row;
    align-items: center;
    gap: var(--size-24);
  }
}

.Name__image {
  width: 100%;
  min-height: var(--size-5);
  position: relative;
  overflow: hidden;
  border-radius: var(--size-1);
  border: var(--size-1) solid white;
  box-shadow: var(--box-shadow);
  margin-bottom: var(--size-7);
}

@media screen and (min-width: 48rem) {
  .Name__image {
    width: 45.625rem;
    height: 28.125rem;
  }
}

.Name__title {
  color: var(--color-minsk);
  font-size: var(--size-7);
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: var(--size-3);
}
