.Contact__image {
  padding-left: var(--size-5);
  margin-bottom: 0;
}

@media screen and (min-width: 48rem) {
  .Contact__image {
    padding-top: var(--size-19);
  }
}

.Contact__illustration {
  width: var(--size-48);
}

@media screen and (min-width: 48rem) {
  .Contact__illustration {
    width: 38.75rem;
    margin-top: var(--size-16);
  }
}

@media screen and (min-width: 48rem) {
  .Contact,
  .Contact__image {
    width: 50%;
  }
}

.Contact__title {
  color: var(--color-heliotrope);
  font-size: var(--size-9);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--text--line-height-xl);
}

.Contact__img {
  margin-bottom: var(--size-16);
}

.Contact__subtitle {
  color: var(--color-minsk);
  font-size: var(--size-5);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--text--line-height-lg);
  margin-bottom: var(--size-4);
  display: block;
}

.Contact__copy {
  font-size: var(--text--p2--font-size);
  line-height: var(--text--p2--line-height);
  border-bottom: 1px solid var(--color-whisper);
  padding-bottom: var(--size-7);
  margin-bottom: var(--size-7);
}

.Contact__channels {
  border-bottom: 1px solid var(--color-whisper);
  margin-bottom: var(--size-7);
  font-size: var(--size-3_5);
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* 768px */
@media screen and (min-width: 48rem) {
  .Contact__channels {
    flex-direction: row;
    gap: var(--size-6);
  }
}

.Contact__link {
  color: var(--color-minsk);
  font-size: var(--size-4);
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: var(--size-7);
  display: block;
  text-decoration: none;
}

.FormFieldSet {
  display: flex;
  flex-direction: column;
  border: 0;
}

.FormFieldSet__error {
  color: var(--color--brand-primary);
  margin-bottom: 1rem;
}

.FormFieldSet__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48rem) {
  .FormFieldSet__container {
    flex-direction: row;
    gap: var(--size-8);
  }
}

.FormFieldSet__field {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48rem) {
  .FormFieldSet__field {
    width: 100%;
  }
}

/* Old and busted */
.FormFieldSet__field[data-required] .FormField__label {
  display: flex;
  justify-content: space-between;
}

.FormFieldSet__field[data-required] .FormField__label::after {
  content: '(Required)';
  display: block;
  font-weight: normal;
  margin-left: var(--size-2);
}

/* New hotness */
@supports selector(:has(+ *)) {
  .FormFieldSet__field:has(.FormField__input[required]) .FormField__label {
    display: flex;
    justify-content: space-between;
  }

  .FormFieldSet__field:has(.FormField__input[required]) .FormField__label::after {
    content: '(Required)';
    display: block;
    font-weight: normal;
    margin-left: var(--size-2);
  }
}

.FormField__label {
  color: var(--color-minsk);
  font-weight: var(--font-weight--semi-bold);
  margin-bottom: var(--size-1);
  font-size: var(--size-3_5);
}

.FormField__input {
  border: 0.0625rem solid var(--color-light-gray);
  border-radius: var(--size-2);
  padding: var(--size-3) var(--size-4);
  box-shadow: var(--box-shadow-sm);
  margin: 0 0 var(--size-5) 0;
}

textarea.FormField__input {
  height: var(--size-24);
  margin-bottom: var(--size-8);
}
