:root {
  --color-fog: #e3d6ff;
  --color-gigas: #52339f;
  --color-gray: #828282;
  --color-heliotrope-ish: #a36eff;
  --color-heliotrope: #8f5aff;
  --color-link-water: #cfc8ef;
  --color-melrose: #c5aaff;
  --color-minsk: #3e2a78;
  --color-port-gore: #201c3e;
  --color-salt-box: #68676a;
  --color-spun-pearl: #afacbe;
  --color-whisper: #eceaf5;
  --color-gainsboro: #dddce2;
  --color-paolo-veronese-green: #0d9571;

  --color-light-gray: #d0d5dd;

  --color--brand-primary: var(--color-heliotrope);
  --color--brand-primary-inverted: white;

  --color-canvas: var(--color-port-gore);
  --color-body: white;

  --size-0: 0.0625rem;
  --size-1: 0.25rem;
  --size-1-px: 4px;
  --size-2: 0.5rem;
  --size-2-px: 8px;
  --size-3: 0.75rem;
  --size-3-px: 12px;
  --size-3_5: 0.875rem;
  --size-3_5-px: 14px;
  --size-4: 1rem;
  --size-4-px: 16px;
  --size-5: 1.25rem;
  --size-5-px: 20px;
  --size-6: 1.5rem;
  --size-6-px: 24px;
  --size-7: 1.75rem;
  --size-7-px: 28px;
  --size-8: 2rem;
  --size-8-px: 32px;
  --size-9: 2.25rem;
  --size-9-px: 36px;
  --size-10: 2.5rem;
  --size-10-px: 40px;
  /* --size-11: 2.75rem; */
  /* --size-11-px: 44px; */
  --size-12: 3rem;
  --size-12-px: 48px;
  --size-13: 3.25rem;
  --size-13-px: 52px;
  --size-14: 3.5rem;
  --size-14-px: 56px;
  --size-15: 3.75rem;
  --size-15-px: 60px;
  --size-16: 4rem;
  --size-16-px: 64px;
  /* --size-17: 4.25rem; */
  /* --size-17-px: 68px; */
  --size-18: 4.5rem;
  --size-18-px: 72px;
  --size-19: 4.75rem;
  --size-19-px: 76px;
  --size-20: 5rem;
  --size-20-px: 80px;
  /* --size-21: 5.25rem; */
  /* --size-21-px: 84px; */
  /* --size-22: 5.5rem; */
  /* --size-22-px: 88px; */
  --size-23: 5.75rem;
  --size-23-px: 92px;
  --size-24: 6rem;
  --size-24-px: 96px;

  --size-28: 7rem;
  --size-28-px: 112px;

  --size-38: 9.5rem;
  --size-38-px: 152px;

  --size-48: 12rem;
  --size-48-px: 192px;

  --size-60: 15rem;
  --size-60-px: 240px;

  /* TODO Will this be used much? */
  --size-72: 18rem;
  --size-72-px: 288px;

  --size-88: 22rem;
  --size-88-px: 352px;

  --size-100: 25rem;
  --size-100-px: 400px;

  --text--line-height-sm: 1.25;
  --text--line-height: 1.4;
  --text--line-height-md: 1.5;
  --text--line-height-lg: 1.7;
  --text--line-height-xl: 2;
  --text--clamp-relative-size: 4vw;

  --font-weight--bold: 700;
  --font-weight--semi-bold: 600;
  --font-weight--medium: 400;
  --font-weight--regular: 300;

  --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-md: 0px 1px 2px rgb(0, 0, 0, 0.25);
  --box-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  --width--reading: 75ch;
  --width--reading--wide: 84ch;
  --width--reading--narrow: 44ch;

  --page--color-text: var(--color-salt-box);
  --page--width-max: 80rem;
  --page--width-max-px: 1280px;
  --page--padding-x: var(--size-5);

  --text--h1--font-size: var(--size-15);
  --text--h1--line-height: var(--text--line-height);
  --text--h2--font-size: var(--size-10);
  --text--h2--line-height: var(--text--line-height);
  --text--h3--font-size: var(--size-7);
  --text--h3--line-height: var(--text--line-height-sm);
  --text--h4--font-size: var(--size-5);
  --text--h4--font-weight: var(--font-weight--semi-bold);
  --text--h4--line-height: var(--text--line-height-md);

  --text--p1--font-size: var(--size-5);
  --text--p1--line-height: var(--text--line-height-lg);
  --text--p2--font-size: var(--size-4);
  --text--p2--line-height: var(--text--line-height-md);
  --text--p3--font-size: var(--size-3_5);
  --text--p3--line-height: var(--text--line-height);

  --card--gap--x: var(--size-9);
  --card--gap--y: var(--size-9);
  --card--width-max: var(--size-100);
}

html {
  background-color: var(--color-canvas);
  font-family: var(
    --font-family,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif
  );
  line-height: var(--text--line-height);
  height: 100%;
}

#__next {
  isolation: isolate;
  display: flex;
  font-size: var(--font-size--x-small);
  line-height: var(--line-height);
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: var(--color-body);
  color: white;
  font-weight: 300;
}

body > * {
  color: var(--page--color-text);
}

a {
  text-decoration: none;
  color: var(--color-heliotrope);
}

a:hover {
  text-decoration: underline;
}

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  word-wrap: normal;
}

.page {
  background-position: top;
  background-repeat: no-repeat;
}

.page--light.page--outlined {
  background-image: url('/images/backgrounds/page-light--outlined-small.png');
}

/* 768px */
@media screen and (min-width: 48rem) {
  .page--light.page--outlined {
    background-image: url('/images/backgrounds/page-light--outlined.png');
    background-size: 175%;
  }
}

/* 1024px */
@media screen and (min-width: 64rem) {
  .page--light.page--outlined {
    background-size: unset;
  }
}

/* 768px */
@media screen and (min-width: 48rem) {
  .page--about {
    background-image: url('/images/backgrounds/hero-light-faded-squares.svg');
    background-position: 50% 11.25rem;
    background-repeat: no-repeat;
  }
}
