@media screen and (min-width: 48rem) {
  .OurServices__inner {
    max-width: var(--width--reading);
    padding: var(--size-10) 0;
  }
}

.OurServices__intro {
  padding: var(--size-13) var(--page--padding-x) var(--size-16);
  position: relative;
}

@media screen and (min-width: 48rem) {
  .OurServices__background {
    background-image: url('/images/backgrounds/services.svg');
    background-repeat: no-repeat;
    background-position: right -16px top -16px;
    background-size: auto 95%;
    max-width: var(--page--width-max);
    margin-inline: auto;
    transition: background-position 50ms ease;
  }

  .OurServices__intro {
    max-width: var(--page--width-max);
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .OurServices__background {
    background-position: right 0 top -16px;
  }
}

.OurServices__title {
  font-size: var(--size-7);
  font-weight: var(--font-weight--bold);
  color: var(--color-minsk);
  margin-bottom: var(--size-4);
  max-width: 30ch;
  text-transform: capitalize;
  line-height: var(--text--line-height-sm);
}

@media screen and (min-width: 48rem) {
  .OurServices__title {
    font-size: var(--size-10);
  }
}

.OurServices__subtitle {
  font-size: var(--size-5);
  margin-bottom: var(--size-4);
  color: var(--color-minsk);
  font-weight: var(--font-weight--semi-bold);
}

.OurServices__copy p {
  margin-bottom: var(--size-4);
}

.OurServices__copy p:last-of-type {
  margin-bottom: var(--size-8);
}
