.ThankYou {
  padding: var(--size-4) var(--size-5) var(--size-20) var(--size-5);
}

@media screen and (min-width: 48rem) {
  .ThankYou {
    text-align: center;
    padding: var(--size-19) 0 var(--size-24);
  }
}

.ThankYou__illustration {
  width: var(--size-48);
  height: var(--size-48);
}

@media screen and (min-width: 48rem) {
  .ThankYou__illustration {
    width: 11.25rem;
    height: 11.25rem;
    margin: 0 auto;
  }
}

.ThankYou__title {
  color: var(--color-heliotrope);
  font-size: var(--size-9);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--text--line-height-xl);
}

.ThankYou__subtitle {
  color: var(--color-minsk);
  font-size: var(--size-5);
  font-weight: var(--font-weight--semi-bold);
  line-height: var(--text--line-height-lg);
  margin-bottom: var(--size-4);
  display: block;
}

@media screen and (min-width: 48rem) {
  .ThankYou__copy p {
    width: 60ch;
    margin: 0 auto;
  }
}

.ThankYou__cta {
  margin-top: var(--size-8);
  display: flex;
  gap: var(--size-5);
}

@media screen and (min-width: 48rem) {
  .ThankYou__cta {
    justify-content: center;
  }
}
