.CaseStudy {
  margin-inline: auto;
  max-width: var(--page--width-max);
  padding-bottom: var(--size-15);
}

.CaseStudy__intro {
  /* margin-top: var(--size-10); */
  /* padding-bottom: var(--size-20); */
}

/* 768px */
@media screen and (min-width: 48rem) {
  .CaseStudy__intro {
    /* margin-top: var(--size-24);
    padding-bottom: var(--size-24); */
  }
}

.CaseStudy__images + .CaseStudy__content {
  margin-top: var(--size-10);
}
