.ImageGrid {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
}

/* 768px */
@media screen and (min-width: 48rem) {
  .ImageGrid {
    display: grid;
    gap: var(--size-10);
    grid-template-columns: 1fr 1fr;
  }
}

.ImageGrid__image {
  background-color: var(--color-whisper);
  aspect-ratio: 1;
  position: relative;
}

.ImageGrid__image:first-of-type {
  aspect-ratio: 1280/570;
  grid-column: span 2;
}
