.EmailAddress {
  color: inherit;
  display: flex;
  gap: var(--size-2);
}

.EmailAddress__envelope {
  color: var(--color-heliotrope);
  transition: color 250ms ease;
  width: var(--size-6);
}

.EmailAddress:hover .EmailAddress__envelope {
  color: var(--footer--color-text);
}
